body{
    margin: 0;
    box-sizing: border-box;
}


/* navbar */
.navbar {
    background-color: #1E202B !important;
    padding: 40px 0; 
    height: auto; 
}

.navbar p {
    font-size: 14px; 
    color: #BFC1C8;
}

.nav-link {
    color: white !important;
    font-size: 16px; 
}

.nav-link:hover {
    border: 2px solid #009AD8;
    border-radius: 50px;
    color: #009AD8 !important;
}

/* navbar */


/* main */
.main {
    background-image: url(../Images/banner.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 70vh; 
    padding-bottom: 100px; 
}

.main .form-control{
    background-color: #1E202B !important;
    color: white !important;
    border-radius: 50px;
    border: none;
    padding: 15px;
}

.main .input-group .btn {
    background-color: #009AD8 !important;
    border: #1E202B 5px solid;
    width: 110px;
    border-radius: 50px;
    color: white;
}
.main ::placeholder{
    color: #757575;
    font-size: 15px;
}

.main .card-body{
    background-color: #323544;
    height: 350px;
    border-bottom-left-radius: 5px;
}

.main .card-body h1{
    font-size: 80px;
}

.main .mid-card-body{
    background-color: #262936;
    height: 350px;
    padding: 70px;
    
}

.main .third-card-body{
    background-color: #323544;
    height: 350px;
    padding: 70px;
    border-bottom-right-radius: 5px;
}

.main .head{
    background-color: #2D303D;
    
    border-top-left-radius: 5px;
}

.main .mid-head{
    background-color: #222530;
}

.main .third-head{
    background-color: #2D303D;
    
    border-top-right-radius: 5px;
}
/* main */

/* footer */
.footer {
    background-color: #262936;
    padding: 20px 0;
    width: 100%;
}



.footer .form-control{
    background-color: #1E202B !important;
    color: white !important;
    border-radius: 50px;
    border: none;
    padding: 15px;
}

.footer ::placeholder{
    color: #757575;
    font-size: 15px;
}

.footer .btn{
    background-color: #009AD8 !important;
    border: #1E202B 5px solid;
    width: 110px;
    border-radius: 50px;
    color: white;
}

.footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E202B;
    color: #009AD8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
}

.footer .social:hover{
    background-color: #009AD8;
    color: white;
}





